.hero{
  background-color: #030303;
  padding-bottom: 60px;
}

.hero__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__content{
  position: relative;
  z-index: 100;
  right: 0;
  width: 594px;
}

.hero__title{
  width: 593px;
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  // text-transform: uppercase;
  color: #FFFFFF;
}

.hero__text{
  margin: 0;
  margin-bottom: 75px;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  color: #FFFFFF;
}

.hero__inner-img{
  position: relative;
  left: -150px;
}

.hero__button{
  max-width: 360px;
  padding: 20px 60px;
  background: #710707;
  border-radius: 10px;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  color: #FFFFFF;
}