.intro{
  padding: 75px 0;
  background-color: #dbdbdb;
}

.intro__title{
  margin: 0;
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: 5px;
  text-transform: uppercase; 
  color: #9D8665;
}

.intro__line{
  display: block;
  margin: 0;
  margin-bottom: 75px;
  height: 3px;
  background-color: #710707;
  border-radius: 0px;
}

.intro__list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.intro-item{
  max-width: 440px;
  // background-color: #ffffff;
}

.intro-item__title{
  margin: 25px 0 10px;
  max-width: 300px;
  font-weight: 400;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: #000000;
}

.intro-item__line{
  display: block;
  margin-bottom: 10px;
  width: 300px;
  height: 2px;
  background: #710707;
  border-radius: 0px;
}

.intro-itemt__line{
  display: block;
  background: #710707;
  max-width: 300px;
  height: 2px;
  margin-bottom: 10px;
}

.intro-item__text{
  max-width: 165px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 100;
  font-size: 22px;
  line-height: 26px;
  color: #000000;  
}

.intro-item__subtext{
  max-width: 240px;
  margin: 0;
  margin-bottom: 75px; 
  font-weight: 100;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}